header {
	margin-bottom: 3rem;
}

p {
	line-height: 1.6;
}

a.see-all{
	text-transform: uppercase;
	font-size:0.8em;
}

h1{
	font-size:2.5rem;
	font-weight:lighter;
}

h2{
	font-size:1rem;
	text-transform: uppercase;
	font-weight:lighter;
}

img{
	width: 100%;
}
.cast li{
	width:25%
}

.shows > li{
	border-top: 1px solid pink
}

.selected{
	font-color: black;
	font-weight: bold;
}

div{
	font-weight: bold;
	font-size: 0.8rem;
}

div:nth-child(3) {
	font-style:italic;
}

#game-of-thrones .seasons:after{
	content: "*final season";
	color: #999;
	size: 0.7rem
}

#game-of-thrones .seasons > ul:last-child:after{
	content: "*";
}