body{
	background-color: lightcyan;
	text-align: left;
}
h1{
	color: lightblue;
	font-size: 250px;
	font-family: 'Muli', sans-serif
	weight: bold;
}
em{
	color: lightblue;
}
p.verse{
	font-family: 'Open Sans', sans-serif;
	color: palevioletred;
}

p.pre{
	font-family: 'Open Sans', sans-serif;
	color: plum;
}

p.chorus{
	font-family: 'Open Sans', sans-serif;
	color: darkseagreen
}