nav {
	display: none;
}

hr {
	border: .5px solid DarkSlateGrey;
	margin: 0;
}

#home {
	width: 100%;
	box-sizing: border-box;
	background-image: url('../images/background1.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 120px;
	padding-bottom: 120px;
	padding-left: 20px;
	margin: 0;
}

#home > h1 {
	text-align: left;
	font-weight: 100px;
	font-family: 'Oswald', sans-serif;
	color: DarkSlateGrey;
	font-size: 30px;
	}

h1 {
	text-align: center;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	color: DarkSlateGrey;
	font-size: 50px;
	}

footer {
	background-color: DarkSlateGrey;
	padding-bottom: 10px; 
	display: block;
	text-align: left;
	padding-left: 10px;
	width: 100%;
	color: Silver;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-decoration: none;
	text-decoration: none;
	font-size: 12px;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: silver; 
	margin: 0;
}

a {
	color: silver;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 20px;
	padding-right: 50px;
}

a:hover {
	color: black;
}


#home > h1 {
	margin: 0;
	color: WhiteSmoke;
	font-size: 90px;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
}

h1 {
	text-align: center;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	color: DarkSlateGrey;
	font-size: 50px;
}

section {
	width: 70%;
	margin: auto;
	padding:auto;
}

ul {
	list-style-type: square;
	list-style-position: inside;
}

#vid > iframe {
	align-content: center;
	width: 350px;
	padding-bottom: 20px;
}

img {
	max-width: 100%;
}

@media (min-width:800px) {
	#home {
	width: 100%;
	box-sizing: border-box;
	background-image: url('../images/background1.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 200px;
	padding-bottom: 200px;
	padding-left: 20px;
	margin: 0;
	}

	nav {
		position: fixed;
		top: 0;
		display: block;
		text-align: center;
		height: 40px;
		width: 100%;
		background-color: DarkSlateGrey;
		font-family: 'Oswald', sans-serif;
		font-weight: 600;
		text-decoration: none;
	}

	h1 {
	text-align: left;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	color: DarkSlateGrey;
	font-size: 50px;
	}
	
	#background > img {
	padding-left: 20px;
	width: 300px;
	float: right;
	padding-bottom: 20px;
	}

	#boyband > img {
	padding-left: 20px;
	width: 300px;
	float: right;
	padding-bottom: 20px;
	}

	iframe {
	float: right;
	width: 300px;
	padding-bottom: 20px;
	padding-left: 20px;
	}
}