body{
margin: 0;
background-color: #DEDBF5;
font-family: 'Open Sans', sans-serif;
font-weight: 100;
}

header{
text-align: left;
border-left: 20px cornflowerblue solid;
border-height: 300px;
}

h1 {
font-family: 'Pacifico', cursive;
text-align: left;
font-size: 80px;
color: indigo;
line-height: 0px;
padding-left: 20px;
}

h2{
font-family: 'Open Sans', sans-serif;
font-size: 80px;
margin: 50px;
line-height: 0px;
font-weight: 100;
}

h3{
line-height: 5px;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
font-weight: 700;
padding-left: 15px;
padding-top: 20px;
line-height: 1.4;
}

h4 {
font-family: 'Pacifico', cursive;
text-align: left;
font-size: 30px;
color: indigo;	
margin-bottom: 0px;
margin-left: 10px;
padding-top: 0px;
}

h5 {
color: indigo;
font-weight: 700;
}

section.intro > div {
font-family: 'Open Sans', sans-serif;
}

section.intro div > p {
margin-left: 20px;
}

section.yield > div {
text-align: left;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
color: indigo;
background-color: cornflowerblue;
width: 100%;
padding: 20px 0px 20px 20px;
}

section.yield div > p {
font-family: 'Open Sans', sans-serif;
color: black;
font-weight: 100;
font-size: 20px;
}

em {
color: indigo;
}

div{
overflow: hidden;
}

section.yield div > img {
float: right;
border: 5px indigo solid;
display: inline-block;
width: 50%;
margin-right: 20px;
margin-left: 0px;
margin-top: 20px;
margin-bottom: 20px;
padding-right: 0px;
}

section.ingredients div > img {
width: 100%;
}

section.directions{
background-color: cornflowerblue;
}
section.directions > div {
padding-left: 40px;
padding-right: 40px;
padding-bottom: 40px;
}

section.directions div > img {
height: 200px;
border: solid indigo 5px;
}
section.nutrition div > img {
width: 100%;
padding-bottom: 0px;}

section.nutrition div > p {
margin-top: 0px;
padding-left: 40px;
}

p.label {
font-size: 10px;
font-style: italic;
}

section.copyright {
background-color: indigo;
color: white;
text-align: center;
}