p{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}
h1{
	font-family: 'Merriweather', serif;
	background-color: lavender;
}
h2{
	font-size: 95px;
	font-family: 'Raleway', sans-serif;
	color: black;
	font-style: bold;}
h3{
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color: black;
	font-style: ;}
}




p.weight0{
	font-weight: lighter;
}
p.weight1{
	font-weight: normal
}
p.weight2{
	font-weight: bold;
}




p.style1{
	font-style: normal;
}
p.style2{
	font-style: oblique;
	font-weight: bold;
}
p.style3{
	font-style: italic;
}




p.space1{
	letter-spacing: -2px;
}

p.space2{
	letter-spacing: 3px
}

p.space3{
	letter-spacing: 15px
}


p.transform1{
	text-transform: uppercase
}
p.transform2{
	text-transform: capitalize;
}
p.transform3{
	text-transform: lowercase;
}



p.decor1{
	text-decoration: underline;
}
p.decor2{
	text-decoration: overline;
}
p.decor3{
	text-decoration: wavy underline;
}